:root {
  --dark-gray: #202124;
  --header-color: rgb(232, 242, 249);
}

body {
  background: var(--dark-gray) url(./assets/magicpattern-confetti.png) repeat !important;
  background-size: contain;
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
